.container {
  width: 100%;
  height: 130%;
  background-image: url(../../public/background\ wall.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.container_img__dog {
  width: 441px;
  height: 891px;
  z-index: 5;
  position: absolute;
  left: 18%;
  top: 100%;
}
.container_img__glow {
  border-radius: 686px;
  border: 1px solid #000;
  opacity: 0.2;
  background: #416df4;
  background-blend-mode: lighten;
  filter: blur(100px);
  position: absolute;
  left: 10%;

  width: 680px;
  height: 686px;
}
.container_description {
  position: relative;
  bottom: 3%;
  left: 17%;
}
